# Exclude node_modules as it will be installed in the container
node_modules/

# Ignore version control artifacts
.git
.gitignore

# Ignore IDE files and temporary files
.vscode/
.idea/
.bun/
tmp/
*.log

# Ignore documentation and build files
*.md
dist/
build/

# Ignore sensitive files
.env

# Ignore Docker-related files
Dockerfile
.dockerignore